@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-self: center;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
}
.container {
    display: flex;
}
img {
    height: 300px;
    width: 600px;
}
.hero {
    background: #1F2937;
    padding: 8px 64px 64px 64px;
}
h2 {
    font-size: 24px;
    color: #F9FAF8;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
p, a {
    color: #E5E7EB;
    font-size: 18px;
}
button {
    background: #3882F6;
    padding: 8px 32px;
    color: #F9FAF8;
    font-weight: bolder;
    font-size: large;
    border-radius: 10px;
    border: 0;
}
.info-section img {
height: 200px;
width: 200px;
border-radius: 15px;
}
.info-section {
    text-align: center;
}
.images {
display: flex;
gap: 16px;
justify-content: center;
flex-wrap: wrap;    
}
.image-container {
    width: 200px;
}
.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 16px 0;
}
.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E7EB;
    padding-top: 64px;
    padding-bottom: 40px;
}
.thor {
align-self: flex-end;
font-size: 24px;
font-weight: bold;
font-style: normal;

}
.quote {
    width: 800px;
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 36px;
    /*font-style: italic;*/
}
.button {
    display: flex;
    gap: 200px;
    background: #3882F6;
    padding: 32px 0;
    border-radius: 8px;
    justify-content: center;
}
.signup {
    border: 2px solid white;
}
.signup-section {
    background: #F9FAF8;
    padding: 50px 100px;
}
.product {
    color: #E5E7EB;
    font-size: 18px;
}
.action {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.footer {
    background: #1F2937;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    padding: 32px 0;
}